.product-container {
  background-color: #2a2a2a;
  border-color: none;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  .item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    color: white;
    font-size: 26px;
    position: relative;
    .rating-block {
      display: flex;
      h3 {
        font-size: 18px;
        margin-left: 5px;
        margin-top: 3px;
      }
    }
    .buttons {
      margin-top: 20px;
    }
  }
}

.image-container {
  min-width: 200px;
  min-height: 300px;
  max-height: 500px;
  max-width: 500px;
  background-color: black;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.square-image {
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s ease;
  padding: 0px 0.5px;
}

.tabs {
  a {
    color: white;
  }
  a:hover {
    border-bottom-color: #db202c;
    color: #db202c;
  }
  li.is-active a {
    border-bottom-color: #db202c;
    color: #db202c;
  }
}

.tab-text {
  color: white;
  padding: 24px;
  font-size: 20px;
  font-family: "book";
}

@media screen and (max-width: 1023px) {
  .product-container {
    width: 100%;
    margin: 0px 0px;
    .item-info {
      width: 100%;
      font-size: 23px;
    }
    .review {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 499px) {
  .product-container {
    flex-direction: column;
    .review {
      font-size: 16px;
    }
  }
}

.slideshow-container {
  position: relative;
  .arrow-left-slideshow {
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -32px;
    background-color: black;
    color: white;
    padding: 5px 5px;
    padding-bottom: 0px;
    font-size: 32px;
    cursor: pointer;
    opacity: 0.5;
  }
  .arrow-right-slideshow {
    z-index: 5;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -32px;
    background-color: black;
    color: white;
    padding: 5px 5px;
    padding-bottom: 0px;
    font-size: 32px;
    cursor: pointer;
    opacity: 0.5;
  }
  .arrow-left-slideshow:hover,
  .arrow-right-slideshow:hover {
    opacity: 1;
  }
  .dots-container {
    z-index: 5;
    position: absolute;
    background-color: black;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 4px 4px;
      background-color: #bbb;
      border-radius: 50%;
      transition: background-color 0.25s ease;
    }
    .dot:hover {
      background-color: #db202c;
    }
    .dot.current {
      background-color: #db202c;
    }
  }
}

.review {
  width: 100 + "%";
  color: white;
  padding: 12px 24px;
  font-family: "book";
  font-size: 20px;
}
