.product-container {
  background-color: #2a2a2a;
  border-color: none;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  display: flex;
  flex-direction: row;
  .item-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    color: white;
    font-size: 26px;
  }
}

@media screen and (max-width: 1023px) {
  .product-container {
    width: 100%;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 499px) {
  .product-container {
    flex-direction: column;
    .item-info {
      position: relative;
      margin-left: 0px;
    }
  }
}


.carousel {
  .control-dots {
    background-color: #000000;
    margin: 0px;
    bottom: 0;
  }
}

.product-img {
    object-fit: contain;
}
