$man: "../../assets/man.webp";
$border-bottom: #2b2b2b;

.main-text {
  font-size: calc(25px + 2vw);
  color: white;
  text-align: center;
  padding-left: 12px;
}

.columns:not(.is-desktop) {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.background-container {
  position: relative;
  background-size: cover;
  background-image: url($man);
  border-bottom: $border-bottom solid 10px;
}

.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.main-content {
  position: relative;
  z-index: 1;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background-color: black;
  margin: 0px 0px;
  border-bottom: #2b2b2b solid 10px;
}

.section-header {
  font-size: calc(6 * 1vh);
  color: white;
  white-space: nowrap;
}

.section-text {
  font-size: calc(4 * 1vh);
  color: rgb(131, 131, 131);
  white-space: nowrap;
}

.swap1 {
  order: 1;
}

.swap2 {
  order: 2;
}

.footer {
  background-color: black;
  img {
    width: 60px;
    margin: 0px 0.3em;
  }
  img:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  a {
    margin: 5px 0.5em;
    color: white;
  }
  a:hover {
    color: #db202c;
  }
  #gymshop:hover {
    color: #db202c;
  }
}
.message {
  border-radius: 0;
  .message-header {
    border-radius: 0;
    font-weight: 400;
    p {
      font-size: 28px;
    }
  }
  .message-header:hover {
    background-color: #202020;
    cursor: pointer;
  }
  .message-body {
    padding: 1em 1em;
    color: #2b2b2b;
    font-weight: 300;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .section-header {
    font-size: calc(3 * 1.25vh);
  }

  .section-text {
    font-size: calc(2 * 1.25vh);
  }

  .message {
    .message-header {
      p {
        font-size: 20px;
      }
    }
    .message-body {
      font-size: 18px;
    }
  }

  .footer {
    a {
      font-size: 16px;
    }
    img {
      width: 40px;
    }
  }
}

@media (max-width: 527px) {
  .swap1 {
    order: 2;
  }

  .swap2 {
    order: 1;
  }
}
