html {
  background-color: #0f0f0f;
}

body {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  position: relative;
  z-index: 1;
}

.main-text {
  font-size: 48px;
  color: white;
  text-align: center;
  padding-left: 12px;
}

.container {
  margin: 0px 0px;
}

.section {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.w50 {
  width: 50%;
}

.section-2 {
  display: flex;
  flex-direction: row-reverse;
  padding: 12px;
}

.section-header {
  font-size: 48px;
  color: white;
  white-space: nowrap;
}

.section-text {
  font-size: 32px;
  color: rgb(131, 131, 131);
}

#faq {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.message {
  border-radius: 0;
  .message-header {
    border-radius: 0;
    font-weight: 400;
    p {
      font-size: 28px;
    }
  }
  .message-header:hover {
    background-color: #202020;
    cursor: pointer;
  }
  .message-body {
    padding: 1em 1em;
    color: #2b2b2b;
    font-weight: 300;
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .message {
    .message-header {
      p {
        font-size: 20px;
      }
    }
    .message-body {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  .section-2 {
    flex-direction: column;
  }
  .w50 {
    width: 100%;
  }
  .section-header {
    font-size: 36px;
  }
  .section-text {
    font-size: 28px;
  }
  .main-text {
    font-size: 32px;
  }
  #faq {
    width: 95%;
  }
  .message {
    .message-header {
      p {
        font-size: 18px;
      }
    }
    .message-body {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  .section-header {
    font-size: 24px;
  }
  .section-text {
    font-size: 16px;
  }
}
