.popular-products {
  background-color: #0f0f0f;
  h1 {
    margin-left: 12px;
    color: white;
    font-size: 32px;
  }
  .container {
    height: 500px;
    overflow: auto;
    white-space: nowrap;
  }
  .container::-webkit-scrollbar {
    width: 0;
  }
  .card {
    border-radius: 0;
  }
  .card-content {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40%;
    top: 60%;
  }
}
