.sidebar {
  position: absolute;
  z-index: 2;
  background-color: #2a2a2a;
  padding: 15px;
  height: 100%;
  min-height: 65vh;
  .toggle-btn {
    rotate: 180deg;
    position: absolute;
    width: 32px;
    right: 16px;
  }
  .content {
    color: white;
    font-size: 18px;
    .sidebar-subtitle {
      color: white;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .sidebar-block {
      display: flex;
      width: 86%;
    }
  }
}

.sidebar-closed {
  width: 40px;
  background-color: #2a2a2a;
  .toggle-btn {
    width: 32px;
    margin: 10%;
    margin-top: 10px;
    align-self: center;
  }
  .content {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    position: relative;
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    position: relative;
    width: 420px;
  }
}

@media screen and (max-width: 1023px) {
  .sidebar {
    width: 100%;
  }
}

.search {
  display: flex;
  max-width: 86%;
  .button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.input {
  height: inherit;
  border-color: transparent;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.input::placeholder {
  color: #707070;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.checkbox {
  accent-color: #db202c;
  span {
    font-family: "book";
    margin-left: 8px;
    font-size: 20px;
  }
}

.checkbox:hover {
  color: #db202c;
}
