.sidebar {
  position: absolute;
  z-index: 2;
  background-color: #2a2a2a;
  padding: 20px;
  height: 100%;
  .toggle-btn {
    display: block;
    rotate: 180deg;
    position: absolute;
    width: 32px;
    right: 16px;
  }
  .content {
    color: white;
    font-size: 18px;
  }
}

.sidebar-closed {
  width: 40px;
  background-color: #2a2a2a;
  .toggle-btn {
    display: block;
    width: 32px;
    margin: 10%;
    align-self: center;
  }
  .content {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    position: relative;
    width: 360px;
  }
}

@media screen and (max-width: 1023px) {
  .sidebar {
    width: 100%;
  }
}

.search {
  display: flex;
  button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  input {
    height: inherit;
    border-color: transparent;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  input::placeholder {
    color: #707070;
  }
}