.item-card {
  transition: all 0.2s ease-in-out;
  margin: 6px 6px;
  cursor: pointer;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  background-color: #0f0f0f;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-image:first-child img {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.card {
  border-radius: 0;
  color: white;
  z-index: 1;
}
.card-content {
  border-radius: 0;
  background-color: #2a2a2a;
  padding: 8% 8%;
}
.card-content:last-child,
.card-footer:last-child,
.card-header:last-child {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.card-text {
  white-space: nowrap;
  font-size: 4.75vw;
}
@media screen and (min-width: 769px) {
  .card-text {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .card-text {
    font-size: 1.65vw;
  }
}
@media screen and (min-width: 1440px) {
  .card-text {
    font-size: 1.25vw;
  }
}

.item-card:hover {
  transform: scale(1.11);
  z-index: 3;
  .card-text {
    white-space: normal;
  }
}
