$red: #db202c;

#logo {
  color: $red;
  font-size: 48px;
}

@media screen and (max-width: 1023px) {
  a.navbar-item {
    color: white;
    padding-left: 16px;
    font-size: 20px;
  }
  p.navbar-link {
    color: white;
    padding-left: 16px;
    cursor: default;
    font-size: 20px;
  }
  a.navbar-item:hover {
    color: $red;
    background-color: #2a2a2a;
  }
  p.navbar-link:hover {
    color: white;
    background-color: transparent;
  }
  .navbar.is-black .navbar-start .navbar-link::after {
    border-color: $red;
  }
  #logo {
    font-size: 32px;
  }
  .navbar.is-black .navbar-end {
    .navbar-burger {
      display: none;
    }
    .navbar-link {
      display: none;
    }
    .navbar-item {
      img {
        padding-bottom: 2px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar.is-black .navbar-start .navbar-link::after {
    border-color: $red;
  }
  .navbar.is-black .navbar-start > a.navbar-item:hover {
    color: $red;
    background-color: #2a2a2a;
  }
  .navbar-dropdown {
    background-color: #000;
    color: white;
    border: none;
    font-size: 24px;
  }
  .navbar-dropdown a.navbar-item:hover {
    background-color: #2a2a2a;
    color: $red;
    img {
      fill: $red;
    }
  }
  .navbar-dropdown a.navbar-item {
    color: white;
  }
  .navbar.is-black .navbar-end {
    .navbar-link::after {
      display: none;
    }
    .navbar-burger {
      display: block;
    }
    .navbar-burger:hover {
      color: $red;
    }
    .navbar-burger:focus {
      color: $red;
    }
    .navbar-burger:focus-within {
      color: $red;
    }
  }
  .navbar-link:focus-within {
    background-color: #000;
  }
}

.navbar-dropdown.is-right {
  .navbar-item {
    padding-left: 16px;
  }
}

nav {
  font-size: 24px;
}
