$red: #db202c;

@media screen and (max-width: 1023px) {
  a.navbar-item {
    color: white;
    padding-left: 16px;
  }
  p.navbar-link {
    color: white;
    padding-left: 16px;
    cursor: default;
  }
  a.navbar-item:hover {
    color: $red;
    background-color: #1f1f1f;
  }
  p.navbar-link:hover {
    color: white;
    background-color: transparent;
  }
  .navbar.is-black .navbar-start .navbar-link::after {
    border-color: $red;
  }
}

@media screen and (min-width: 1024px) {
  .navbar.is-black .navbar-start .navbar-link::after {
    border-color: $red;
  }
}

* {
  font-size: 24px;
}